<form [formGroup]="employeeForm" (ngSubmit)="onClickSubmit(employeeForm)">
  <div class="container">
    <h2 class="heading" style="padding-left: 30px">Employee Database</h2>
    <div class="table-container">
      <table class="table-container">
        <tr class="table-row">
          <th class="table-head">Employee</th>
          <th class="table-head">Product</th>
          <th class="table-head">Options</th>
        </tr>
        <ng-container formArrayName="employeearray">
          <tr
            class="table-row"
            *ngFor="let e of employee.controls; let i = index"
            [formGroupName]="i"
          >
            <td
              class="table-data"
              *ngIf="!e.value['editable']; else elseBlock1"
            >
              {{ e.value["name"] }}
            </td>
            <td class="table-data" *ngIf="!e.value['editable']; else elseBlock">
              {{ e.value["product"] }}
            </td>
            <ng-template #elseBlock1>
              <td class="table-data table-input">
                <input
                  type="text"
                  id="employee"
                  formControlName="name"
                  required
                />
              </td>
            </ng-template>
            <ng-template #elseBlock>
              <td class="table-data table-input">
                <input
                  type="number"
                  id="product"
                  formControlName="product"
                  required
                />
              </td>
            </ng-template>
            <td
              class="table-data"
              *ngIf="!e.value['editable']; else elseBlock2"
            >
              <button class="btn btn-primary" (click)="onEdit(e)">Edit</button>
              <button class="btn btn-danger" (click)="onDelete(i)">
                Delete
              </button>
            </td>
            <ng-template #elseBlock2>
              <td class="table-data">
                <button
                  type="submit"
                  class="btn btn-secondary"
                  [disabled]="!employee.valid"
                  (click)="onSave(i, e)"
                >
                  Save
                </button>
                <button
                type="submit"
                class="btn btn-danger"
                (click)="onCancel(i, e)"
              >
                Cancel
              </button>
              </td>
            </ng-template>
          </tr>
        </ng-container>
      </table>
      <button
        type="submit"
        class="btn btn-secondary"
        (click)="addNewEmployee()"
      >
        Add
      </button>
      <button type="submit" class="btn btn-secondary">Submit</button>
    </div>
  </div>
</form>
